/*

This is the original SASS build code for the CSS used in the theme.

*/
/* =Reset
-------------------------------------------------------------- */
body, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none; }

body {
  background: #eee;
  /* Ensures the background of the WordPress customizer is correct */ }

b, strong {
  font-weight: bold; }

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
  display: block; }

/* =Hidden sections
-------------------------------------------------------------- */
.assistive-text,
.assistive-text {
  display: none; }

/* =Links
-------------------------------------------------------------- */
a {
  text-decoration: none;
  color: #74ad10; }

a:hover {
  text-decoration: underline; }

/* =Header
-------------------------------------------------------------- */
#site-header {
  display: block;
  position: relative;
  width: 88%;
  padding: 0 6%;
  min-height: 232px;
  background-image: linear-gradient(to bottom, white 40%, whitesmoke 100%); }
  #site-header .hgroup {
    margin: 0 auto;
    max-width: 1310px;
    min-height: 232px;
    overflow: hidden;
    position: relative; }
  #site-header h1 {
    float: left;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2.1em;
    line-height: 1.1em;
    font-weight: normal;
    margin: 1em 0 1.8em 2%; }
    #site-header h1 a {
      color: #aaa; }
      #site-header h1 a:hover {
        text-decoration: none; }
      #site-header h1 a span {
        display: block;
        color: #2c2c2c;
        font-size: 1.5em; }
      #site-header h1 a small {
        font-size: 65%; }
  #site-header h2 {
    float: right;
    width: 30%;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: normal;
    margin: 3em 24% 0 2%;
    color: #999; }
  #site-header img {
    width: auto;
    height: 227px;
    height: 10em;
    position: absolute;
    right: 6%;
    bottom: 0;
    z-index: 10; }

/* =Main menu
-------------------------------------------------------------- */
#nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 10px solid #2c2c2c;
  background-image: linear-gradient(#80c40b, #75ae12); }
  #nav div {
    width: 94%;
    padding: 0 3%;
    border-bottom: 1px solid #85cc0b;
    overflow: visible; }
  #nav ul {
    margin: 0 auto;
    padding: 0;
    max-width: 1310px; }
  #nav li {
    float: left;
    position: relative;
    list-style: none; }
    #nav li:first-child a {
      border-left: none; }
    #nav li:last-child a {
      border-right: none; }
    #nav li:hover {
      float: left;
      list-style: none;
      background-image: linear-gradient(#90cb29, #86b82e); }
      #nav li:hover a {
        text-decoration: none; }
    #nav li.current-menu-item a {
      background: url(images/menu-dot-hover.png) 90% 50% no-repeat; }
    #nav li ul {
      position: absolute;
      left: -999em; }
    #nav li:hover > ul {
      left: 0;
      width: 10em;
      background-image: linear-gradient(#86b82e, #75a71d);
      padding-bottom: 0.5em;
      -moz-border-radius-bottomright: 0.6em;
      -moz-border-radius-bottomleft: 0.6em;
      border-bottom-right-radius: 0.6em;
      border-bottom-left-radius: 0.6em;
      -moz-box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.5); }
      #nav li:hover > ul li {
        width: 100%;
        font-size: 0.8em;
        line-height: 1.1em; }
        #nav li:hover > ul li a {
          border-left: 1px solid #a5d256; }
        #nav li:hover > ul li ul {
          top: -0.5em;
          left: -999em;
          padding-top: 0.5em;
          -moz-border-radius-topright: 0.6em;
          -moz-border-radius-topleft: 0.6em;
          border-top-right-radius: 0.6em;
          border-top-left-radius: 0.6em; }
        #nav li:hover > ul li:hover li {
          font-size: 1em; }
        #nav li:hover > ul li:hover ul {
          left: 12.4em; }
          #nav li:hover > ul li:hover ul ul {
            left: 10em; }
  #nav a {
    display: block;
    padding: 0.4em 2.7em 0.4em 1.3em;
    font-size: 1em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(46, 75, 8, 0.3);
    border-right: 1px solid #59a50a;
    border-left: 1px solid #a5d256;
    background: url(images/menu-dot.png) 90% 50% no-repeat; }

/* =Contents
-------------------------------------------------------------- */
body.page-template-full-width-php #site-content {
  width: 94%;
  padding: 0 3%; }

#content-area {
  font-size: 1em;
  font-family: sans-serif;
  line-height: 1.8em;
  color: #333;
  -moz-border-radius-bottomright: 0.6em;
  -moz-border-radius-bottomleft: 0.6em;
  border-bottom-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  color: #74ad10;
  font-weight: normal;
  line-height: 1em; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #74ad10; }

h1.widget-title {
  font-size: 1.4em;
  font-weight: bold; }

h1.entry-title {
  margin: 1.8em 3% 0.8em 3%; }

h1 {
  font-size: 1.3em;
  margin: 1em 0 0.3em; }

h2 {
  font-size: 1.7em;
  margin: 1em 0 0.3em; }

h3 {
  font-size: 1.4em;
  margin: 1em 0 0.3em; }

h4 {
  font-size: 1.3em;
  margin: 0.7em 0 0.2em; }

h5 {
  font-size: 1.2em;
  margin: 0.7em 0 0.2em; }

h6 {
  font-size: 1.1em;
  margin: 0.5em 0 0.15em; }

p,
li,
dd,
dt,
.page-links,
caption,
th,
td {
  font-size: 1em;
  font-family: sans-serif;
  color: #333; }

.page-links,
p,
li {
  margin: 1.5em 0; }

.page-links {
  clear: both; }

p {
  font-size: 0.8em;
  line-height: 1.625em;
  padding: 0.3125em 0 0.1875em 0;
  color: #555;
  word-wrap: break-word; }

ul,
ol {
  margin: 1em 0 1em 1.2em; }

ul li {
  list-style: square;
  line-height: 2em;
  margin: 0;
  padding: 0; }

ol li {
  list-style-type: decimal;
  line-height: 2em;
  margin: 0;
  padding: 0; }

dt {
  font-weight: bold; }

blockquote {
  position: relative;
  margin: 1.5em 0 1.5em 2.5em;
  padding: 0 1em 0 1em; }
  blockquote p:before,
  blockquote p:after {
    font-family: serif;
    position: absolute;
    font-size: 3em; }
  blockquote p:before {
    left: -0.3em;
    top: 0.05em;
    content: "\201C"; }
  blockquote p:after {
    margin-top: 0.1em;
    margin-left: 0.05em;
    content: "\201D"; }

blockquote,
blockquote p {
  color: #999;
  font-style: italic; }

code,
pre {
  max-width: 100%;
  font-family: monospace;
  font-size: 0.9em; }

pre {
  padding: 0.7em 1.2em;
  background: #eee;
  border: 1px solid #ddd;
  line-height: 1em; }

input[type=text] {
  border: 1px solid #dddddd;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  padding: 3% 4%; }

.search-form input[type=submit],
.search-form label {
  display: none; }
.search-form input[type=text] {
  width: 90%;
  max-width: 400px;
  font-size: 0.9em; }

iframe {
  max-width: 100%;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0; }

body .wp-caption {
  max-width: 94%;
  margin: 1em auto;
  padding: 2% 2% 0 2%;
  border: 1px solid #dddddd;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em; }

.wp-caption p {
  margin: 0.4em 0;
  padding: 0 0.8em;
  font-size: 0.7em;
  line-height: 1.5em;
  color: #666; }

.wp-caption img {
  display: block;
  margin: 0 auto;
  margin: 0.4em auto 0; }

/* =Post contents
-------------------------------------------------------------- */
.page #content-area article,
.single #content-area article {
  border-bottom: none; }

article {
  margin: 0 0 2em 0;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #dddddd; }

.entry-content {
  width: auto;
  overflow: auto;
  padding: 0 3% 0 3.7%; }

.thumbnail,
.attachment-excerpt-thumb {
  float: right;
  max-width: 38%;
  margin: 1em 0 1em 2em; }

.entry-meta {
  color: #999;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  padding: 1.5em 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px dotted #e5e5e5;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, white 40%); }

.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

.aligncenter {
  margin: 0 auto;
  display: block; }

.alignright {
  float: right;
  margin: 0 0 1em 1em; }

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
  line-height: 1.7em;
  margin: 0 0 2em 0;
  width: 100%; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

caption {
  font-size: 1em;
  margin: 1.5em 0; }

th {
  font-weight: bold;
  text-transform: uppercase; }

td {
  border-top: 1px solid #ededed;
  padding: 1em 1em 1em 0; }

/* =Sidebar
-------------------------------------------------------------- */
#main {
  clear: both;
  /* Used at smaller browser widths for clearing #nav */
  margin: 0 auto;
  max-width: 1440px; }

#content-area {
  overflow: auto;
  margin: 0 3%;
  background: #fff; }

#site-content {
  width: 61%;
  padding: 0 0 0 3.7%;
  float: left; }

#sidebar {
  padding: 1.8em 3.7% 3% 0;
  width: 27.7%;
  float: right; }
  #sidebar ul li {
    line-height: 1.5em; }
  #sidebar td {
    padding: 0.2em; }
  #sidebar h1 {
    margin: 0;
    padding: 10px 0 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    color: #333333;
    text-align: left;
    font-family: arial,sans-serif;
    letter-spacing: 0;
    line-height: 1.0em; }
  #sidebar aside {
    background: #f9f9f9;
    margin: 0 0 1.7em 0;
    padding: 0.4em 9%;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em; }
    #sidebar aside p {
      margin: 0;
      /* Hack to fix bug in sidebar */ }

/* =Post content
-------------------------------------------------------------- */
/* =Numeric pagination
-------------------------------------------------------------- */
#numeric-pagination {
  margin: 4em 0 0 0;
  padding: 0 0 4em 0; }
  #numeric-pagination li {
    font-size: 0.8em;
    float: left;
    list-style: none;
    margin: 0 0.3em;
    padding: 0;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    border: 1px solid #dddddd; }
    #numeric-pagination li.extra-pages {
      border: none; }
  #numeric-pagination a {
    float: left;
    height: 1.1em;
    margin: 0;
    padding: 0.05em 0.5em 0.25em 0.5em; }
  #numeric-pagination li.active a,
  #numeric-pagination li a:hover {
    background: #74ad10;
    text-decoration: none;
    color: #fff; }

/* =Comments
-------------------------------------------------------------- */
#comments {
  margin: 1em 0 0 0;
  overflow: auto; }
  #comments h3 {
    margin: 0; }

ol.commentlist {
  margin: 0;
  padding: 0;
  list-style: none; }
  ol.commentlist li.trackback,
  ol.commentlist li.pingback,
  ol.commentlist li.comment {
    list-style: none;
    background: #fafafa;
    border: 1px solid #dddddd;
    margin: 0 0 1.5em 0;
    padding: 0;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    font-size: 0.9em;
    color: #999; }
  ol.commentlist li.trackback ul,
  ol.commentlist li.pingback ul,
  ol.commentlist li.comment ul {
    margin: 0 1.5em 1.5em 1.5em;
    padding: 0; }
  ol.commentlist li.trackback .comment-body,
  ol.commentlist li.pingback .comment-body,
  ol.commentlist li.comment .comment-body {
    padding: 1.5em; }
  ol.commentlist li.comment li.comment {
    font-size: 1em;
    background: #f6f6f6;
    margin: 1.5em 0 0 0; }
  ol.commentlist li.comment li.comment li.comment {
    background: #f3f3f3; }
  ol.commentlist cite {
    font-style: normal; }
  ol.commentlist img.avatar {
    float: right;
    border: 1px solid #dddddd;
    margin: 0 0 1.5em 1.5em; }
  ol.commentlist .comment-reply-link {
    background: #eee;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border: 1px solid #dddddd;
    font-size: 0.8em;
    padding: 0.4em 0.8em;
    color: #333; }
  ol.commentlist .comment-reply-link:hover {
    background: #74ad10;
    color: #fff;
    text-decoration: none; }

.comment-author,
.comment-meta {
  line-height: 1.5em; }

.comment-meta {
  font-size: 0.8em; }

/* =Response
-------------------------------------------------------------- */
.gform_wrapper,
.contact-form,
#respond {
  margin: 3em 0 2em 0;
  overflow: auto; }

.comment #respond {
  margin: 3em 1.5em 2em 1.5em; }

.gform_wrapper ul {
  margin: 1em 0; }

.gform_wrapper li {
  list-style: none; }

.gform_validation_container {
  display: none; }

.gform_wrapper label,
.contact-form label,
#respond label {
  display: block;
  line-height: 1.5em;
  margin: 1.5em 0 0 0; }

.gform_wrapper input[type=email],
.gform_wrapper input[type=text],
.gform_wrapper input[type=submit],
.gform_wrapper textarea,
.contact-form input[type=email],
.contact-form input[type=text],
.contact-form input[type=submit],
.contact-form textarea,
#respond input[type=email],
#respond input[type=text],
#respond input[type=submit],
#respond textarea {
  display: block;
  margin: 0 0 0.8em;
  padding: 0.5em 0.8em;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  background: #fafafa;
  border: 1px solid #dddddd;
  color: #666; }

.gform_wrapper input[type=email],
.contact-form input[type=email],
#respond input[type=email],
.gform_wrapper input[type=text],
.contact-form input[type=text],
#respond input[type=text] {
  width: 300px; }

.gform_wrapper textarea,
.contact-form textarea,
#respond textarea {
  max-width: 700px;
  width: 95%;
  height: 200px; }

.gform_wrapper input[type=email],
.contact-form input[type=email],
#respond input[type=email],
.gform_wrapper input[type=text],
.contact-form input[type=text],
#respond input[type=text],
.gform_wrapper textarea,
.contact-form textarea,
#respond textarea {
  font-size: 0.9em;
  font-family: sans-serif; }

.gform_wrapper input[type=submit],
.contact-form input[type=submit],
#respond input[type=submit] {
  font-size: 1.2em;
  background: #eee;
  color: #333;
  border: 1px solid #dddddd;
  border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  margin: 1.5em 0 0 0;
  padding: 0.4em 1em; }

.gform_wrapper input[type=submit]:hover,
.contact-form input[type=submit]:hover,
#respond input[type=submit]:hover {
  background: #74ad10;
  color: #fff;
  cursor: pointer; }

.comment-notes,
.form-allowed-tags {
  font-size: 1em;
  color: #999; }

/* =Third party plugins
-------------------------------------------------------------- */
.metro-tabs a {
  height: 10.6em; }

#respond .subscribe-to-comments label {
  display: inline; }

/* =Footer
-------------------------------------------------------------- */
#site-footer {
  clear: both;
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em; }

#site-info {
  margin: 0 3%;
  text-indent: 2.5em;
  text-align: left;
  padding: 1.6em 0;
  color: #777;
  font-size: 0.9em; }

.footer-blocks {
  float: left;
  width: 100%;
  margin: 1.5em 0 1.1em 0; }
  .footer-blocks div {
    float: left;
    width: 9%;
    margin: 0 0.5%;
    height: 5px;
    background: #ddd;
    border-bottom: 1px solid #cbcbcb;
    -moz-border-radius: 2px;
    border-radius: 2px; }

/* =Responsive
-------------------------------------------------------------- */
@media (min-width: 900px) {
  body {
    font-size: 120%; } }
@media (min-width: 1000px) {
  body {
    font-size: 130%; } }
@media (min-width: 1100px) {
  body {
    font-size: 145%; } }
@media (min-width: 1200px) {
  body {
    font-size: 160%; } }
@media (min-width: 1300px) {
  body {
    font-size: 180%; } }
@media (max-width: 750px) {
  #site-header {
    width: 100%;
    min-height: auto;
    padding: 0; }
    #site-header .hgroup {
      width: 88%;
      padding: 0 6%;
      min-height: 0;
      overflow: visible; }
    #site-header h1 {
      width: 100%;
      margin: 1em 0 0 2%; }
    #site-header h2 {
      width: 100%;
      margin: 1em 0; }
    #site-header img {
      display: none; }

  #nav {
    float: left;
    position: relative; }
    #nav div {
      width: 100%;
      padding: 0; }
    #nav li {
      width: 100%; }
      #nav li ul {
        display: none; } }
@media (max-width: 650px) {
  #site-content {
    width: 94%;
    padding: 0 3%;
    float: left; }

  #sidebar {
    padding: 3%;
    width: 94%;
    border-left: none; } }
@media (max-width: 350px) {
  article .attachment-excerpt-thumb {
    float: none;
    display: block;
    margin: 0 auto;
    max-width: 100%; } }
/* =Right to left language support
-------------------------------------------------------------- */
.rtl #site-header h1 {
  float: right;
  margin: 0 2% 0 0; }
.rtl #site-header h2 {
  float: left;
  margin: 1.5em 0 0 2%; }
.rtl #site-content {
  padding: 0 3% 0 0;
  float: right; }
.rtl #sidebar {
  float: left;
  border-right: 1px solid #dddddd;
  border-left: none; }
.rtl #numeric-pagination li {
  float: right; }

/* =Print styles
-------------------------------------------------------------- */
@media print {
  #respond,
  .sep,
  #numeric-pagination,
  .comments-link,
  #sidebar {
    display: none; } }
