/*

This is the original SASS build code for the CSS used in the theme.

*/


$max_header_width: 1310px;
$max_header_height: 232px;
$max_page_width: 1440px;
$border: 1px solid #ddd;
$small-text: 0.8em;
$green_colour: #74ad10;
$grey_colour: #ddd;
$font_standard_size: 1.0em;
$font_reduced_size: 0.9em;
$font_small_size: 0.8em;
$font_super_small_size: 0.7em;
$font_sans_serif: sans-serif;
$font_serif: serif;

@mixin rounded_corners($radius: 0.6em) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}


/* =Reset
-------------------------------------------------------------- */
body,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,dl,dt,dd,ol,ul,li,fieldset,form,legend,table,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
}
body {
	background: #eee; /* Ensures the background of the WordPress customizer is correct */
}
b,strong {
	font-weight: bold;
}

/* =Force HTML5 elements block
-------------------------------------------------------------- */
header,
nav,
article,
footer,
address {
	display: block;
}

/* =Hidden sections
-------------------------------------------------------------- */
.assistive-text,
.assistive-text {
	display: none;
}

/* =Links
-------------------------------------------------------------- */
a {
	text-decoration: none;
	color: $green_colour;
}
a:hover {
	text-decoration: underline;
}

/* =Header
-------------------------------------------------------------- */
#site-header {

	display: block;
	position: relative;
	width: 88%;
	padding: 0 6%;
	min-height: $max_header_height;
	background-image: linear-gradient(
		to bottom,
		#fff 40%,
		#f5f5f5 100%
	);

	.hgroup {
		margin: 0 auto;
		max-width: $max_header_width;
		min-height: $max_header_height;
		overflow: hidden;
		position: relative;
	}

	h1 {

		float: left;
		font-family: $font_sans_serif;
		text-transform: uppercase;
		font-size: 2.1em;
		line-height: 1.1em;
		font-weight: normal;
		margin: 1em 0 1.8em 2%;

		a {
			color: #aaa;

			&:hover {
				text-decoration: none;
			}
	
			span {
				display: block;
				color: #2c2c2c;
				font-size: 1.5em;
			}
	
			small {
				font-size: 65%;
			}

		}

	}

	h2 {
		float: right;
		width: 30%;
		font-family: $font_sans_serif;
		font-size: $font_standard_size;
		line-height: 1.2em;
		font-weight: normal;
		margin: 3em 24% 0 2%;
		color: #999;
	}

	img {
		width: auto;
		height: 11.5em;
		position: absolute;
		right: 6%;
		bottom: 0;
		z-index: 10;
	}

}

/* =Main menu
-------------------------------------------------------------- */
#nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 10px solid #2c2c2c;
	background-image: linear-gradient(#80c40b, #75ae12);

	div {
		width: 94%;
		padding: 0 3%;
		border-bottom: 1px solid #85cc0b;
		overflow: visible;
	}

	ul {
		margin: 0 auto;
		padding: 0;
		max-width: $max_header_width;
	}

	li {
		float: left;
		position: relative;
		list-style: none;

		&:first-child a {
			border-left: none;
		}

		&:last-child a {
			border-right: none;
		}

		&:hover {

			float: left;
			list-style: none;
			background-image: linear-gradient(#90cb29, #86b82e);

			a {
				text-decoration: none;
			}
		}

		&.current-menu-item a {
			background: url(images/menu-dot-hover.png) 90% 50% no-repeat;
		}

		ul {
			position: absolute;
			left: -999em;
		}

		&:hover {

			> ul {
				left: 0;
				width: 10em;
				background-image: linear-gradient(#86b82e, #75a71d);
				padding-bottom: 0.5em;
				-moz-border-radius-bottomright: 0.6em;
				-moz-border-radius-bottomleft: 0.6em;
				border-bottom-right-radius: 0.6em;
				border-bottom-left-radius: 0.6em;
				-moz-box-shadow: 1px 1px 1em rgba(0,0,0,0.5);
				box-shadow: 0 0.3em 0.4em rgba(0,0,0,0.5);

				li {
					width: 100%;
					font-size: 0.8em;
					line-height: 1.1em;

					a {
						border-left: 1px solid #a5d256;
					}

					ul {
						top: -0.5em;
						left: -999em;
						padding-top: 0.5em;
						-moz-border-radius-topright: 0.6em;
						-moz-border-radius-topleft: 0.6em;
						border-top-right-radius: 0.6em;
						border-top-left-radius: 0.6em;
					}

					&:hover {

						li {
							font-size: 1em;
						}

						ul {
							left: 12.4em;

							ul {
								left: 10em;
							}

						}

					}
				}
			}

		}

	}

	a {
		display: block;
		padding: 0.4em 2.7em 0.4em 1.3em;
		font-size: 1em;
		color: #fff;
		text-shadow: 1px 1px 1px rgba(46,75,8,0.3);
		border-right: 1px solid #59a50a;
		border-left: 1px solid #a5d256;
		background: url(images/menu-dot.png) 90% 50% no-repeat;

	}

}

/* =Contents
-------------------------------------------------------------- */

body.page-template-full-width-php #site-content {
	width: 94%;
	padding: 0 3%;
}

#content-area {
	font-size: $font_standard_size;
	font-family: $font_sans_serif;
	line-height: 1.8em;
	color: #333;
	-moz-border-radius-bottomright: 0.6em;
	-moz-border-radius-bottomleft: 0.6em;
	border-bottom-right-radius: 0.6em;
	border-bottom-left-radius: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_sans_serif;
	color: $green_colour;
	font-weight: normal;
	line-height: 1em;

	a {
		color: $green_colour;
	}

}

h1.widget-title {
	font-size: 1.4em;
	font-weight: bold;
}

h1.entry-title {
	margin: 1.8em 3% 0.8em 3.7%;
}

h1 {
	font-size: 1.3em;
	margin: 1em 0 0.3em;
}

h2 {
	font-size: 1.7em;
	margin: 1em 0 0.3em;
}

h3 {
	font-size: 1.4em;
	margin: 1em 0 0.3em;
}

h4 {
	font-size: 1.3em;
	margin: 0.7em 0 0.2em;
}

h5 {
	font-size: 1.2em;
	margin: 0.7em 0 0.2em;
}

h6 {
	font-size: 1.1em;
	margin: 0.5em 0 0.15em;
}

p,
li,
dd,
dt,
.page-links,
caption,
th,
td {
	font-size: $font_standard_size;
	font-family: $font_sans_serif;
	color: #333;
}

.page-links,
p,
li {
	margin: 1.5em 0;
}

.page-links {
	clear: both;
}

p {
	font-size: 0.8em;
	line-height: 1.625em;
	padding: 0.3125em 0 0.1875em 0;
	color: #555;
	word-wrap: break-word;
}

ul,
ol {
	margin: 1em 0 1em 1.2em;
}

ul li {
	list-style: square;
	line-height: 2em;
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
	line-height: 2em;
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

blockquote {

	position: relative;
	margin: 1.5em 0 1.5em 2.5em;
	padding: 0 1em 0 1em;

	p:before,
	p:after {
		font-family: serif;
		position: absolute;
		font-size: 3em;
	}
	p:before {
		left: -0.3em;
		top: 0.05em;
		content:"\201C";
	}
	p:after {
		margin-top: 0.1em;
		margin-left: 0.05em;
		content:"\201D";
	}

}

blockquote,
blockquote p {
	color: #999;
	font-style: italic;
}

code,
pre {
	max-width: 100%;
	font-family: monospace;
	font-size: $font_reduced_size;
}

pre {
	padding: 0.7em 1.2em;
	background: #eee;
	border: 1px solid #ddd;
	line-height: 1em;
	overflow-x: auto;
}

input[type=text] {
	border: $border;
	@include rounded_corners();
	padding: 3% 4%;
}

.search-form {

	input[type=submit],
	label {
		display: none;
	}

	input[type=text] {
		width: 90%;
		max-width: 400px;
		font-size: $font_reduced_size;
	}

}

iframe {
	max-width: 100%;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

body .wp-caption {
	max-width: 94%;
	margin: 1em auto;
	padding: 2% 2% 0 2%;
	border: $border;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	-ms-border-radius: 0.6em;
	-o-border-radius: 0.6em;
	border-radius: 0.6em;
}

.wp-caption p {
	margin: 0.4em 0;
	padding: 0 0.8em;
	font-size: 0.7em;
	line-height: 1.5em;
	color: #666;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
	margin: 0.4em auto 0;
}

/* =Post contents
-------------------------------------------------------------- */

.page #content-area article,
.single #content-area article {
	border-bottom: none;
}

article {
	margin: 0 0 2em 0;
	padding: 0 0 2em 0;
	border-bottom: 1px #e5e5e5 dotted;
}

.entry-content {
	width: auto;
	overflow: auto;
	padding: 0 3% 0 3.7%;
}

.entry-meta {
	color: #999;
	font-family: $font_sans_serif;
	font-size: 0.7em;
	line-height: 1em;
	padding: 1em 1.5em;
	border-top: 1px solid #eee;
	border-bottom: 1px dotted #e5e5e5;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #fff 40%);
}

body .wp-caption.alignleft,
.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

body .wp-caption.aligncenter,
.aligncenter {
	margin: 0 auto;
	display: block;
}

body .wp-caption.alignright,
.alignright {
	float: right;
	margin: 0 0 1em 1em;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.8em;
	line-height: 1.7em;
	margin: 0 0 2em 0;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
	font-size: 1em;
	margin: 1.5em 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 1em 1em 1em 0;
}

/* =Home and Archive templates
-------------------------------------------------------------- */

.home article {
	float: left;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.home h1.entry-title {
	margin-left: 5%;
}

.home .entry-header,
.home .entry-content {
	float: right;
}

.home .entry-header {
	width: 70%;
}

.home .entry-content {
	width: 67%;
	padding: 0 0 0 0;
}

.home footer.entry-meta {
	float: left;
}

.avatar,
.thumbnail,
.attachment-excerpt-thumb {
	float: left;
	max-width: 18%;
	margin: 2.1em 0 1em 1.2em;
	border: 10px solid #ededed;
}


/* =Gallery
-------------------------------------------------------------- */
.xxxxxgallery {

	border: 1px solid red;
	display: table;

	figure {
		display: table-cell;
		width: 40%;
	}

}

.gallery {

	margin: 1em 0;
	overflow: auto;

	figure {

		float: left;
		overflow: hidden;
		position: relative;
		margin: 0 0 1em 0;
		padding: 0;

		img {
			border: 5px solid #ccc;
			display: block;
			margin: 0 auto;
		}

	}

}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 {
	figure {
		width: 50%;
	}
}

.gallery-columns-3 {

	figure {
		width: 33.33%;
	}

}

.gallery-columns-4 {

	figure {
		width: 25%;
	}

}

.gallery-columns-5 {

	figure {
		width: 20%;
	}

}

.gallery-columns-6 {

	figure {
		width: 16.66%;
	}

}

.gallery-columns-7 {

	figure {
		width: 14.28%;
	}

}

.gallery-columns-8 {

	figure {
		width: 12.5%;
	}

}

.gallery-columns-9 {

	figure {
		width: 11.11%;
	}

}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}







/* =Sidebar
-------------------------------------------------------------- */

#main {
	clear: both; /* Used at smaller browser widths for clearing #nav */
	margin: 0 auto;
	max-width: $max_page_width;
}
#content-area {
	overflow: auto;
	margin: 0 3%;
	background: #fff;
}

#site-content {
	width: 61%;
	padding: 0 0 0 3.7%;
	float: left;
}

#sidebar {
	padding: 1.8em 3.7% 3% 0;
	width: 27.7%;
	float: right;

	ul li {
		line-height: 1.5em;
	}

	td {
		padding: 0.2em;
	}

	h1 {
		margin: 0;
		padding: 10px 0 15px 0;
		font-style: normal;
		font-weight: normal;
		font-size: 1.2em;
		color: #333333;
		text-align: left;
		font-family: arial,sans-serif;
		letter-spacing: 0;
		line-height: 1.0em;
	}

	aside {
		background: #f9f9f9;
		margin: 0 0 1.7em 0;
		padding: 0.4em 9%;
		-moz-border-radius: 0.6em;
		border-radius: 0.6em;

		p {
			margin: 0; /* Hack to fix bug in sidebar */
		}

	}

}

/* =Post content
-------------------------------------------------------------- */

.post {
	
}

/* =Numeric pagination
-------------------------------------------------------------- */

#numeric-pagination {
	float: left;
	margin: 2em 0 0 0;
	padding: 0 0 2em 0;

	li {

		font-size: 0.8em;
		float: left;
		list-style: none;
		margin: 0 0.3em;
		padding: 0;
		height: 1.4em;
		line-height: 1.4em;
		text-align: center;
		border: $border;

		&.extra-pages {
			border: none;
		}

		&:first-child,
		&:last-child {
			border: none;

			.active a,
			a:hover {
				background: none;
				text-decoration: underline;
				color: $green_colour;
			}

		}

	}

	a {
		float: left;
		height: 1.1em;
		margin: 0;
		padding: 0.05em 0.5em 0.25em 0.5em;
	}

	.active a,
	a:hover {
		background: $green_colour;
		text-decoration: none;
		color: #fff;
	}

}

/* =Comments
-------------------------------------------------------------- */
#comments {

	margin: 1em 0 0 0;
	overflow: auto;

}

#comments h3,
#respond h3 {
	
	margin: 1.2em 0 1em 0;
	font-size: 1em;
	color: #555;

}


/* Dotted line pattern */
#respond h3,
#comments {

	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAGCAYAAADpJ08yAAAAGElEQVQIW2M8c+bMfxMTE0ZGBihgJEIEAIumDAfF39KVAAAAAElFTkSuQmCC) repeat-x;

}

/* Comment list */
ol.commentlist {

	margin: 0;
	padding: 0;
	list-style: none;

	li.trackback,
	li.pingback,
	li.comment {
		list-style: none;
		background: rgba(0,0,0,0.015);
		border: 1px solid rgba(0,0,0,0.05);
		margin: 0 0 1.5em 0;
		padding: 0;
		@include rounded_corners();
		font-size: $font_reduced_size;
		color: #999;
	}

	li.trackback ul,
	li.pingback ul,
	li.comment ul {
		margin: 0 1.5em 1.5em 1.5em;
		padding: 0;
	}

	li.trackback .comment-body,
	li.pingback .comment-body,
	li.comment .comment-body {
		padding: 0.9em 0.9em 0.9em 22%;
	}

	.comment-body {
		p {
			margin-top: 0.4em;
			padding: 1em 1.5em 0 1.5em;
			border-top: 1px solid rgba(0,0,0,0.05);

			&:first-child {
				background-image: linear-gradient(
					to top,
					rgba(0,0,0,0) 80%,
					rgba(0,0,0,0.03) 100%
				);
			}

		}

	}

	li.comment li.comment {
		font-size: $font_standard_size;
		margin: 1.5em 0 0 0;
	}

	cite {
		font-style: normal;
		padding-left: 1.5em;
	}

	img.avatar {
		width: 20%;
		float: left;
		border: 5px solid #ededed;
		margin: 0 0 1.5em -29%;
		position: relative;
	}

	.comment-reply-link {
		background: #eee;
		@include rounded_corners();
		border: $border;
		font-size: $font_small_size;
		padding: 0.4em 0.8em;
		color: #333;
	}

	.comment-reply-link:hover {
		background: $green_colour;
		color: #fff;
		text-decoration: none;
	}

}

.comment-author,
.comment-meta {
	line-height: 1.5em;
}

.comment-meta {
	font-size: $font_super_small_size;
	padding: 0 0.9em 0 0.9em;
}

.reply {
	padding-left: 1.5em;
}

/* =Response
-------------------------------------------------------------- */

.gform_wrapper,
.contact-form,
#respond {
	margin: 3em 0 2em 0;
	overflow: auto;
}

#respond {
	padding: 1em;
	background: #fafafa;
	border: 1px solid rgba(0,0,0,0.05);
	@include rounded_corners();

	h3 {
		margin: 0;
		padding: 0 0 0.8em 0;
		background-position: bottom left;
	}

	.comment-notes {
		margin: 1em 0 0 0;
		padding: 0;
		font-size: $font_small_size;
	}

	.comment-form {

		label {
			float: left;
			width: 16%;
			margin: 0;
			padding: 0;
		}

		input[type=text] {
			width: 30%;
		}

		input[type=text],
		textarea {
			background-image: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, #fff 0.3em);
		}

		p {
			padding: 0;
		}

	}

}

.comment #respond {
	margin: 3em 1.5em 2em 1.5em;
}

.gform_wrapper ul {
	margin: 1em 0;
}

.gform_wrapper li {
	list-style: none;
}

.gform_validation_container {
	display: none;
}

.gform_wrapper label,
.contact-form label,
#respond label {
	display: block;
	line-height: 1.5em;
	margin: 1.5em 0 0 0;
}

.gform_wrapper input[type=email],
.gform_wrapper input[type=text],
.gform_wrapper input[type=submit],
.gform_wrapper textarea,
.contact-form input[type=email],
.contact-form input[type=text],
.contact-form input[type=submit],
.contact-form textarea,
#respond input[type=email],
#respond input[type=text],
#respond input[type=submit],
#respond textarea {
	display: block;
	margin: 0 0 0.8em;
	padding: 0.5em 0.8em;
	@include rounded_corners();
	background: #fafafa;
	border: $border;
	color: #666;
}

.gform_wrapper input[type=email],
.contact-form input[type=email],
#respond input[type=email],
.gform_wrapper input[type=text],
.contact-form input[type=text],
#respond input[type=text] {
	width: 300px;
}

.gform_wrapper textarea,
.contact-form textarea,
#respond textarea {
	max-width: 700px;
	width: 95%;
	height: 200px;
}

.gform_wrapper input[type=email],
.contact-form input[type=email],
#respond input[type=email],
.gform_wrapper input[type=text],
.contact-form input[type=text],
#respond input[type=text],
.gform_wrapper textarea,
.contact-form textarea,
#respond textarea {
	font-size: $font_reduced_size;
	font-family: $font_sans_serif;
}

.gform_wrapper input[type=submit],
.contact-form input[type=submit],
#respond input[type=submit] {
	font-size: 1.2em;
	background: #eee;
	color: #333;
	border: $border;
	@include rounded_corners();
	margin: 1.5em 0 0 0;
	padding: 0.4em 1em;
}

.gform_wrapper input[type=submit]:hover,
.contact-form input[type=submit]:hover,
#respond input[type=submit]:hover {
	background: $green_colour;
	color: #fff;
	cursor: pointer;
}

.comment-notes,
.form-allowed-tags {
	font-size: $font_standard_size;
	color: #999;
}

/* =Third party plugins
-------------------------------------------------------------- */

.metro-tabs a {
	height: 10.6em;
}

#respond .subscribe-to-comments label {
	display: inline;
}

/* =Footer
-------------------------------------------------------------- */

#site-footer {
	clear: both;
	margin: 0 auto;
	max-width: $max_page_width;
	text-align: center;
	font-family: $font_sans_serif;
	font-size: $font_standard_size;
}

#site-info {
	margin: 0 3%;
	text-indent: 2.5em;
	text-align: left;
	padding: 1.6em 0;
	color: #777;
	font-size: 0.9em;
}
.footer-blocks {
	float: left;
	width: 100%;
	margin: 1.5em 0 1.1em 0;

	div {
		float: left;
		width: 9%;
		margin: 0 0.5%;
		height: 5px;
		background: #ddd;
		border-bottom: 1px solid #cbcbcb;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

}

/* =Responsive
-------------------------------------------------------------- */

@media ( min-width: 900px ) {

	body {
		font-size: 120%;
	}

}

/*
@media ( min-width: 1000px ) {

	body {
		font-size: 220%;
	}

}

@media ( min-width: 1100px ) {

	body {
		font-size: 145%;
	}

	#site-header {

		h1 {
			width: 100%;
			margin: 1em 0 0 2%;
		}

		h2 {
			width: 100%;
			margin: 1em 0;
		}

		img {
			display: none;
		}

	}

}

@media ( min-width: 1200px ) {

	body {
		font-size: 160%;
	}

}

@media ( min-width: 1300px ) {

	body {
		font-size: 180%;
	}

}
*/

@media ( max-width: 750px ) {

	#site-header {
		width: 100%;
		min-height: auto;
		padding: 0;

		.hgroup {
			width: 88%;
			padding: 0 6%;
			min-height: 0;
			overflow: visible;
		}

		h1 {
			width: 100%;
			margin: 1em 0 0 2%;
		}

		h2 {
			width: 100%;
			margin: 1em 0;
		}

		img {
			display: none;
		}

	}

	#nav {
		float: left;
		position: relative;

		div {
			width: 100%;
			padding: 0;
		}

		li {
			width: 100%;

			ul {
				display: none;
			}

		}

	}

}

@media ( max-width: 650px ) {

	#site-content {
		width: 94%;
		padding: 0 3%;
		float: left;
	}

	#sidebar {
		padding: 3%;
		width: 94%;
		border-left: none;
	}

}

@media ( max-width: 350px ) {

	article {

		.avatar,
		.thumbnail,
		.attachment-excerpt-thumb {
			float: none;
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}

	}

}

/* =Right to left language support
-------------------------------------------------------------- */
.rtl {

	#site-header h1 {
		float: right;
		margin: 0 2% 0 0;
	}
	
	#site-header h2 {
		float: left;
		margin: 1.5em 0 0 2%;
	}
	
	#site-content {
		padding: 0 3% 0 0;
		float: right;
	}
	
	#sidebar {
		float: left;
		border-right: $border;
		border-left: none;
	}
	
	#numeric-pagination li {
		float: right;
	}

}


/* =Print styles
-------------------------------------------------------------- */
@media print {

	#respond,
	.sep,
	#numeric-pagination,
	.comments-link,
	#sidebar {
		display: none;
	}

}
